@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;400;600&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;400;600&family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #090b1a;
}

@media (min-width: 64em) {
  body {
    margin: 0;
  }
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

section {
  justify-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  max-width: 100%;
  background: #090b1a;
}

@media (min-width: 64em) {
  section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

section .hero {
  width: 23.4375rem;
  margin: 0 auto;
  background: #1b1938;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

@media (min-width: 64em) {
  section .hero {
    text-align: left;
    min-width: 50rem;
    max-width: 68.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 25rem;
    margin-top: 9.375rem;
    border-top-left-radius: 0.32rem;
    border-bottom-left-radius: 0.32rem;
  }
}

section .hero__image {
  background-image: url("/images/image-header-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-top-left-radius: 0.32rem;
  border-top-right-radius: 0.32rem;
  min-height: 23.4375rem;
  position: relative;
  line-height: 0;
}

@media (min-width: 64em) {
  section .hero__image {
    background-image: url("/images/image-header-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-top-right-radius: 0.32rem;
    border-bottom-right-radius: 0.32rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 25rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

section .hero__image::after {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-color: #aa5cdb;
  mix-blend-mode: multiply;
}

section .hero__text {
  text-align: center;
  margin-top: 3.25rem;
  padding: 0.9375rem;
}

@media (min-width: 64em) {
  section .hero__text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: left;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 3.125rem;
  }
}

section .hero__text h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.5625rem;
  color: white;
}

section .hero__text span {
  color: #aa5cdb;
}

section .hero__text p {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 400;
  font-size: 0.75rem;
  font-family: 'Inter', sans-serif;
  margin-top: 1.5625rem;
  line-height: 1.3;
}

section .hero__text h2.stats {
  margin-top: 3.625rem;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 1.375rem;
  margin-bottom: 0px !important;
  text-transform: uppercase;
}

section .hero__text p.description {
  margin-top: 0px !important;
  text-transform: uppercase;
}

@media (min-width: 64em) {
  section .hero__text li {
    display: inline-block;
    margin-right: 3em;
  }
}
/*# sourceMappingURL=main.css.map */