
//colors-primary
$very-dark-blue-main: hsl(233, 47%, 7%);
$card-background:hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);

//colors-Neutral
$white-stats:hsl(0, 0%, 100%);
$main-paragraph:hsla(0, 0%, 100%, 0.75);
$stat-heading:hsla(0, 0%, 100%, 0.6);

//font-size
$font-size:15px;

//google-fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;400;600&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Outfit:wght@300;400;600&family=Roboto:wght@100&display=swap');


